:root {
  --branding-color: #6c63ff;
  --secondary-color: #f9f7fe;
  --heading-font-family: "Playfair Display", serif;
  --default-font-family: "Poppins", sans-serif;
}
body {
  font-family: var(--default-font-family);
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--heading-font-family);
  font-weight: bold;
  color: black;
  margin: 0;
  text-align: center;
}
h2 {
  font-size: 48px;
}
p {
  font-weight: normal;
  font-size: 16px;
  line-height: 30px;
}
.hero {
  background-color: var(--secondary-color);
  text-align: center;
  padding: 160px 20px;
}
.hero p {
  font-size: 36px;
  font-weight: bold;
  margin: 0;
  color: #272142;
}
h1 {
  font-size: 60px;
}
.hero h2 {
  font-size: 24px;
  font-weight: normal;
  line-height: 2;
}
.about-section {
  padding: 160px 20px;
}
.about-section-content {
  margin: 30px;
}
.about-section h1 {
  font-size: 64px;
  line-height: 1;
}
.about-section h2 {
  font-size: 18px;
  font-family: var(--default-font-family);
}
.about-section p {
  font-size: 14px;
}
.btn-branding {
  background-color: var(--branding-color);
  border-radius: 4px;
  color: white;
  font-size: 18px;
  line-height: 27px;
  padding: 15px 30px;
  text-decoration: none;
  margin: 20px;
}
.btn-branding-outline {
  color: var(--branding-color);
  border: 1px solid var(--branding-color);
  font-size: 16px;
  line-height: 24px;
  padding: 15px 30px;
}
.project-description {
  padding: 120px 60px;
}
@media (max-width: 900px) {
  .hero {
    padding: 80px 20px;
  }
  .about-section {
    text-align: center;
    padding: 0;
  }
  h1 {
    font-size: 44px;
    line-height: 2;
  }
  h2 {
    font-size: 44px;
  }
  .project-description {
    padding: 0;
    text-align: center;
  }
}
.img-fluid {
  max-width: 75%;
}
.txt {
  font-size: 24px;
  margin-bottom: 20px;
  margin-top: 20px;
}
.contact {
  text-align: center;
  font-weight: bold;
}
.row {
  text-align: center;
}
.header h1 {
  font-size: 69px;
}
.contact-box {
  padding: 30px 120px;
  justify-content: center;
}
.social-links a {
  margin: 0 20px;
  padding: 10px 14px;
}
